body {
  margin: 0;
  padding: 0;
}
#block {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: green;
}
#inline {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: blue;
}
#margin-collapse > #mc1 {
  width: 100%;
  height: 50px;
  background-color: orange;
  margin-bottom: 50px;
}
#margin-collapse > #mc2 {
  width: 100%;
  height: 50px;
  background-color: red;
  margin-top: 20px;
}
#box-sizing-none {
  /* 요소의 총 가로 길이 */
  /* 200px + (10px + 1px + 15px) * 2 = 252px */
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;  
  background-color: yellow;
  margin: 15px;
}
#box-sizing-border-box {
  /* 요소의 총 가로 길이 */
  /* 200px + (10px + 1px + 15px) * 2 = 252px */
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  background-color: yellow;
  margin: 15px;
  box-sizing: border-box;
}
